<section class="h-[90vh]">
    <div class="container h-full py-5">
        <div class="flex flex-col justify-center items-center h-full">
            <img src="/assets/logo.png" width="150" height="150" class="mb-10">
            <div class="bg-primary-light rounded-md px-24 py-20">
                <form action="/auth/signup" class="flex flex-col gap-5 mb-4 w-[400px]" method="POST">
                    <label class="block">
                        <input type="text"
                               placeholder="Your name"
                               class="border border-gray-300 placeholder-gray-600 outline-none w-full rounded-md text-base font-normal pr-2 pl-3.5 py-2.5 focus:border-blue-500"
                               name="name"/>
                    </label>
                    <label class="block">
                        <input type="email"
                               placeholder="Email"
                               class="border border-gray-300 placeholder-gray-600 outline-none w-full rounded-md text-base font-normal pr-2 pl-3.5 py-2.5 focus:border-blue-500"
                               name="email"/>
                    </label>
                    <label class="block">
                        <input type="password" name="password"
                               placeholder="Password"
                               class="border border-gray-300 placeholder-gray-600 outline-none w-full rounded-md text-base font-normal pr-2 pl-3.5 py-2.5 focus:border-blue-500"/>
                    </label>
                    <button class="text-white bg-black w-full py-3 rounded-md" type="submit">Sign up</button>
                </form>
                <div>
                    Already have an account?
                    <a href="/auth/login" class="cursor-pointer text-blue-700 hover:text-blue-500">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</section>
