<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polling</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<%- include('partials/alerts') %>
<div class="flex items-center gap-3 p-3">
    <a href="/">
        <img src="/assets/logo-stripped.png" style="width: 40px; height: 40px">
    </a>
    <% if (!currentUser) { %>
        <a href="/auth/signup">Signup</a>
        <a href="/auth/login">Login</a>
    <% } else { %>
        <a href="/profile">Profile</a>
        <a href="/auth/logout">Logout</a></li>
    <% } %>
</div>

<%- body %>
</body>

</html>