<div class="container mx-auto flex flex-col items-center pt-10">
    <div class="flex flex-wrap lg:flex-nowrap justify-center lg:w-3/5 gap-5">
        <div style="width: 150px; height: 150px">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-full" height="180"
                 width="180">
        </div>
        <div class="w-full lg:w-auto flex-auto">
            <form method="POST" action="/profile/edit" class="flex flex-col items-end gap-4">
                <label class="w-full">
                    <input class="border border-gray-300 placeholder-gray-600 outline-none w-full rounded-md text-base font-normal pr-2 pl-3.5 py-2.5 focus:border-blue-500"
                           name="name" type="text" value="<%= name %>">
                </label>
                <label class="w-full">
                    <input class="border border-gray-300 placeholder-gray-600 outline-none w-full rounded-md text-base font-normal pr-2 pl-3.5 py-2.5 focus:border-blue-500"
                           name="email" type="email" value="<%= email %>">
                </label>
                <button class="text-white bg-black w-full py-3 rounded-md" style="max-width: 200px">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
